@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<div>
	<h2>Chat</h2>
	<textarea id="txtChat" cols="64" rows="8" wrap="off" style="overflow: scroll"></textarea><br />
	<button id="btnSubmitChat" type="button">Submit Chat</button>
</div>
<div>
	<h2>Info</h2>
	<div>
		Region:
		<select id="selRegion">
			<option value="na">NA</option>
			<option value="euw">EUW</option>
			<option value="lan">LAN</option>
			<option value="oce">OCE</option>
		</select>
	</div>
	Recent Games: <input id="numGames" type="number" min="1" value="20" />
</div>
<div>
	<h2>Players</h2>
	Player 1: <input id="txtP1" /><br />
	Player 2: <input id="txtP2" /><br />
	Player 3: <input id="txtP3" /><br />
	Player 4: <input id="txtP4" /><br />
	Player 5: <input id="txtP5" /><br />
	<button id="btnSubmit" type="button">Submit</button>
	<button id="btnClear" type="button">Clear</button>
</div>
<table id="tblResults">
	<tr>
		<th>Summoner</th>
		<th>KDA</th>
		<th>Participation</th>
		<th>Win Rate</th>
	</tr>
</table>

<script>
	$("#btnSubmitChat").click(function ()
	{
		var playerBoxes = getPlayerBoxes();
		for (var i = 0; i < playerBoxes.length; i++)
		{
			playerBoxes[i].value = "";
		}

		var chat = document.getElementById("txtChat").value;
		var lines = chat.split("\n");
		var players = {};
		for (var i = 0; i < lines.length; i++)
		{
			var idxColon = lines[i].indexOf(": ");
			var idxJoin = lines[i].indexOf(" has joined the room");
			if (idxColon >= 0)
			{
				var p = lines[i].substring(0, idxColon);
				players[p] = true;
			} else if (idxJoin >= 0)
			{
				var p = lines[i].substring(0, idxJoin);
				players[p] = true;
			}
		}

		var idx = 0;
		for (var p in players)
		{
			if (idx >= 5)
			{
				break;
			}
			playerBoxes[idx++].value = p;
		}
	});

	$("#btnSubmit").click(function ()
	{
		var playerBoxes = getPlayerBoxes();
		var names = playerBoxes.map(function (txtBox)
		{
			return txtBox.value;
		}).filter(function (txt)
		{
			return txt;
		}).join();

		var url = "/Summoner/GetInfo/";
		var args = {
			region: "na",
			summonerNames: names
		};

		$.getJSON(url, args, function (data)
		{
			// TODO: actually do something with the returned data
			alert(JSON.stringify(data));
			var summResults = [];
			for (var i = 0; i < data.length; i++)
			{
				var jsObj = JSON.parse(data[i].RawJSON);
				summResults[i] = {
					id: jsObj.id,
					name: jsObj.name
				};
			}
			loadMatchData(summResults);
		});
	});

	function loadMatchData(summResults)
	{
		var url = "/Match/GetResults";
		var reg = $("#selRegion").val();
		var games = $("#numGames").val();

		for (var i = 0; i < summResults.length; i++)
		{
			var args = {
				region: reg,
				summonerID: summResults[i].id,
				matchType: "TEAM_BUILDER_DRAFT_RANKED_5x5",
				beginIndex: 0,
				endIndex: games
			};

			$.getJSON(url, args, function (data)
			{
				alert(JSON.stringify(data));
				//var tr = document.createElement("tr");
				//var tdName = document.createElement("td");
				//var tdKDA = document.createElement("td");
				//var tdPart = document.createElement("td");
				//var tdWin = document.createElement("td");

				//tdName.innerHTML = summResults[i].name;
			});
		}
	}

	$("#btnClear").click(function ()
	{
		var playerBoxes = getPlayerBoxes();
		for (var i = 0; i < playerBoxes.length; i++)
		{
			playerBoxes[i].value = "";
		}
	});

	function getPlayerBoxes()
	{
		return [
			document.getElementById("txtP1"),
			document.getElementById("txtP2"),
			document.getElementById("txtP3"),
			document.getElementById("txtP4"),
			document.getElementById("txtP5")
		];
	}
</script>